<a href="/hotels">Hotel Index</a> <a href="/rooms">Room Index</a>
<h1>Rooms</h1>
<% @rooms.each do |room| %>
<% if room.occupied? %>
  <h3>
    <%= room.name %>
    <%= button_to "Edit #{room.name}", "/rooms/#{room.id}/edit", method: :get %>
    <%= button_to "Delete #{room.name}", "/rooms/#{room.id}", method: :delete %>
  </h3>
  <p>Occupied: <%= room.occupied %></p>
  <p>Number of Guests: <%= room.guest_count %></p>
  <% end %>
<% end %>
