<a href="/hotels">Hotel Index</a> <a href="/rooms">Room Index</a>
<h1>Hotels</h1>
  <% @hotels.each_with_index do |hotel, index| %>
    <div id="hotel-<%= index %>">
    <h3>
      <%= hotel.name %> - <small> Created at: <%= hotel.created_at %></small>
      <%= button_to "Edit #{hotel.name}", "/hotels/#{hotel.id}/edit", method: :get %>
      <%= button_to "Delete #{hotel.name}", "/hotels/#{hotel.id}", method: :delete %>
    </h3>
    <p>City: <%= hotel.city %></p>
    <p>Booked: <%= hotel.booked %></p>
    <p>Capacity: <%= hotel.capacity %></p>
    </div>
  <% end %>
<%= link_to 'New Hotel', '/hotels/new' %>
