<a href="/hotels">Hotel Index</a><br/>
<a href="/rooms">Room Index</a><br/>
<p><%= link_to "#{@hotel.name} Rooms", "/hotels/#{@hotel.id}/rooms?sort=alpha"%></p>
<h1><%= @hotel.name %></h1>
<p>City: <%= @hotel.city %></p>
<p>Booked: <%= @hotel.booked %></p>
<p>Capacity: <%= @hotel.capacity %></p>
<p>Number of rooms: <%= @hotel.room_count %></p>
