<a href="/hotels">Hotel Index</a> <a href="/rooms">Room Index</a><br/>
<h1><%= @hotel.name %></h1>
<p><%= link_to "#{@hotel.name} Rooms", "/hotels/#{@hotel.id}/rooms?sort=alpha"%></p>
<p>City: <%= @hotel.city %></p>
<p>Booked: <%= @hotel.booked %></p>
<p>Capacity: <%= @hotel.capacity %></p>
<p>Number of rooms: <%= @hotel.room_count %></p>
<%= button_to "Edit #{@hotel.name}", "/hotels/#{@hotel.id}/edit", method: :get %>
<br/>
<%= button_to "Delete", "/hotels/#{@hotel.id}", method: :delete %>
